.bloqueInicial{
	padding: 8% 20%;
	margin-top: 5%;
}
.transparencia{
	background-color: rgba(255,0,0,0.4);
	padding: 1%;
}
.bg-home{
	background-position: cover;
	background-image: url("../img/frente.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	height: 100vh;
}
.btn-concurso{
		margin-bottom: 2%;
	}
@media (max-width: 800px) {

  .bg-home{
	height: 100vh;
	background-image: url("../img/espalda.jpg");
	}
	.bloqueInicial{
	padding: 85% 5% 0 5%;
	margin-top: 5%;
	}
	.transparencia{
		padding: 2%;
	}
}
@media (max-width: 600px) {
	.bloqueInicial{
	padding: 84% 5% 0 5%;
	}
	.transparencia{
		padding: 1%;
	}
	h1{
		font-size: 2.8em !important;
	}
	h5{
		font-size: 1.3em !important;
	}
	.btn-concurso{
		margin-bottom: 6%;
	}
}
