*{
	box-sizing: border-box;
}
.menuHome{
	position: fixed;
	top: 0px;
}
.mt-5{
	margin-top: 5%;
}
.mt-7{
	margin-top: 7%;
}
.mt-11{
	margin-top: 11%;
}
.img{
	padding: 1%;
}

.titulo{
	color: white;
	font-weight: bolder;
}
.letras{
	font-size: 18px;
}
.img-max{
	display: none;
	max-width: 100%;
}
.border{
	border: 1px solid gray;
	padding: 1%;
}